- const userLoggedIn = true;

if (userLoggedIn === true)
  div.user-info Hey user is logged in
else if (userLoggedIn === null)
  div.user-info Sorry there was an error
else
  div.user-info Hey you are not logged in